<!DOCTYPE html>
<html>

<head>
    <title>Road Transport Pricing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>Road Transport and Logistics Pricing</h1>
        {% if session['user_id'] %}
        <a href="{{ url_for('dashboard') }}">Dashboard</a> |
        <a href="{{ url_for('logout') }}">Logout</a> {% else %}
        <a href="{{ url_for('login') }}">Login</a> |
        <a href="{{ url_for('register') }}">Register</a> {% endif %}
    </header>
    <main>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %} {% block content %}{% endblock %}
    </main>
</body>

</html>